<div>
    {{#each this}}
    <section class="comment text-center">
        <div class="meta text-center">
            <p>{{user.username}}</p>
            <p id="comment-text">{{comment_text}}</p>
            <p id="date">on {{created_at}}</p>
        </div>
    </section>
    {{/each}}
</div>