<section class="new-post-section text-center">
    <button type="submit" class="btn" id="create-new-post">+ Create new post +</button>
</section>   

{{#if posts.length}}

<h2>Your Items</h2>
    <div class="container text-center">
        <div class="row">
            <div class="col">
        {{#each posts as |post|}}
      
            {{> post-info post}}
            <a href="/dashboard/edit/{{post.id}}" class="text-center" id="edit">edit post</a>
        
        {{/each}}
            </div>
        </div>
    </div>

{{/if}}

<script src="/javascript/create-post.js"></script>