<article class="new-page">
    <section class="edit-form-page">
        <div class="form-heading">
            <h2>
                Edit Post
            </h2>
        </div>
        <div class="form-section text-center">
            <form class="edit-post-form">
                <div class="post-title-section">
                    <label for="post-title" id="login">Title</label>
                    <input type="text" name="post-title" id="post-title" value="{{post.title}}" />
                </div>
                <div class="post-content">
                    <label for="post-content" id="login">Content</label>
                    <textarea class="entry-field" id="post-content" name="post-content">{{post.content}}</textarea>
                </div>
                <button type="submit" class ="button" id="create-new-post">Update post</button>
                <button type="button" class="delete-post-btn button" id="create-new-post">Delete post</button>
            </form>
            <a href="/dashboard" class="go-back">Back to dashboard</a>
        </div>
    </section>
</article>


{{#if loggedIn}}
<script src="/javascript/edit-post.js"></script>
<script src="/javascript/delete-post.js"></script>
{{/if}}