<div class="container text-center" id="text">
      <div class="row">
        <div class="col">
           <h2>LOOKING FOR</h2></a>
        </div>
        <div class="col">
           <a href=""><h2>TRADING FOR</h2></a>
      </div>
</div>
<br>
    <p id="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p> 
    <p id="text">Accusantium temporibus facilis cupiditate voluptatum quas  </p>
    <p id="text">nostrum quidem soluta numquam aut? Eius, deserunt!</p>
<br>
    <div class="row">
        <div class="col">
          <a class="nav-link" aria-current="page" href="/dashboard">Create a <h3>looking for</h3></a>
        </div>
        <div class="col">
        <a class="nav-link" aria-current="page" href="/dashboard">Create a <h3>trading for</h3>
        </div>
    </div>