<div class="container text-center" id="text">
      <div class="row">
        <div class="col">
           <h2>LOOKING FOR</h2></a>
        </div>
        <div class="col">
           <a href="/users-posts"><h2>TRADING FOR</h2></a>
      </div>
</div>
<br>
    <p id="text">one mans trash is another mans treasure</p> 
    <p id="text"> explore Trueque, trade items, do your part</p>
    <p id="text">get rid of items you don't want without harming Earth</p>
<br>
    <div class="row">
        <div class="col">
          <a class="nav-link" aria-current="page" href="/dashboard">Create a <h3>looking for</h3></a>
        </div>
        <div class="col">
        <a class="nav-link" aria-current="page" href="/dashboard">Create a <h3>trading for</h3>
        </div>
    </div>