{{> post-info post}}

{{#if loggedIn}}
<form class="comment-form text-center">
    <div>
        <textarea name="comment-body"></textarea>
    </div>

    <div>
        <button type="submit" id="loginbtn">add comment</button>
    </div>
    <br>
    <a href="/dashboard" class="go-back">Back to dashboard</a>
</form>
{{/if}}

{{> comments post.comments}}

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}