{{!-- When the user clicks on "Trading For" on the homepage, it redirects to a new handlebar page that displays all of the users posts  --}}

<h2>What people are trading</h2>

<div class="post-list">
    {{#each posts as |post|}}
    <div>
        {{> post-info post }}
    </div>
    <div><a href="/post-info/{{ id }}"></a></div>
    <div></div>
    <div></div>
    {{/each}}

</div>

